body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:#000000;
    color:azure;
}

h1, h3, p, form {
    text-align: center;
}

img {
    position: relative;
    left:25%;
}

.placeholder{
    align-items: center;
    justify-items: center;
}

.names_area{
    display: none;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.classname_div{
    border-radius: 5px;
    background: chartreuse;
    width:200px;
    padding: 20px;
    margin:20px;
}

.user_button_group{
    display:none;
}

.login_button_group{
    display:inline-block;
}

.header_container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content:space-around;
    border-color:azure;
    border-width: 0 0 3px 0;
    border-style:solid;
}

.cancel {
    color: #444;
}
.cancel:hover {
    background: #ea8f89;
    color:#000000;
    box-shadow: 0 5px 5px 0px rgba(255, 255, 255, 0.308); 
}

.confirm_button{
    text-align:center;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    background:azure;
    padding: .5em 0.8em .5em .8em;
    max-width: 200px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 1px 0px rgba(255, 255, 255, 0.288);
    border-radius: .5em;  
    transition: all 0.5s;  
}

.confirm_button:hover {
    background: #89ea89;
    color:#000000;
    box-shadow: 0 5px 5px 0px rgba(255, 255, 255, 0.308); 
}

.cancel {
    color: #444;
}
.cancel:hover {
    background: #ea8f89;
    color:#000000;
    box-shadow: 0 5px 5px 0px rgba(255, 255, 255, 0.308); 
}

/*Select Box Formatting */
input[type=text],input[type=password]{
    text-align:center;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    background:azure;
    padding: .5em 0.8em .5em .8em;
    max-width: 200px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 1px 0px rgba(255, 255, 255, 0.288);
    border-radius: .5em;  
    transition: all 0.5s;  
}

input[type=text], input[type=password]:hover{
    background: #ddffdd;
    color:#000000;
    box-shadow: 0 5px 5px 0px rgba(255, 255, 255, 0.308); 
}

input[type=text], input[type=password]:focus{
    border-radius: 1em;
    border-width: 1px;
    border-color:#537a14;
}

/* The Modal fade out the screen */
.modal {
    display: none; 
    border-radius: 0;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
  }
  
/* Modal Content (for login and register forms)*/
.modal_content {
    background-color: #fefefe;
    color:black;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #888;
    width: 600px;
    height:auto;
}

/* The Modal Close Button */
.modal_close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor:pointer;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}